<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Prototype</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/class-details-modal.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="./js/timezone-list.js"></script>
    <script src="./js/class-constructors/ClassTemplate.js"></script>
    <script defer src="./js/tempClassData.js"></script>
    <script defer src="./js/helperFunctions.js"></script>
    <script defer src="./js/class-details-modal.js"></script>
    <script defer src="./js/server-functions.js"></script>
    <script defer src="./js/script.js"></script>
</head>

<body>
	{{{ body }}}
    <button type="button" id="test-connection">Testing</button>
</body>

</html>