<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Prototype</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/colors.css">
    <link rel="stylesheet" href="./css/class-details-modal.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/media-scroller.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/confirmation-popup.css">
    <link rel="stylesheet" href="./css/dropdownNav.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    {{!-- fonts --}}
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Franklin' rel='stylesheet'>
    <link rel="stylesheet" href="./css/bootstrap-override.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="./js/timezone-list.js"></script>
    <script src="./js/class-constructors/ClassTemplate.js"></script>
    <script defer src="./js/tempClassData.js"></script>
    <script defer src="./js/helperFunctions.js"></script>
    <script defer src="./js/class-details-modal.js"></script>
    <script defer src="./js/search-functions.js"></script>
    <script defer src="./js/clicky-menus.js"></script>
    <script src="./js/server-functions/craft-class-server-functions.js"></script>
    <script src="./js/server-functions/inquiry-server-functions.js"></script>
    <script src="./js/server-functions/category-server-functions.js"></script>
    <script src="./js/server-functions/tag-server-functions.js"></script>
    <script src="./js/server-functions/email-functions.js"></script>
    <script src="./js/server-functions/media-slider-server-functions.js"></script>
    <script defer src="./js/classSearchSortFunctions.js"></script>
    <script defer src="./js/media-scroller-functions.js"></script>
    <script defer src="./js/link-router.js"></script>
    <script defer src="./js/script.js"></script>
    <script src="./js/param-manager.js"></script>
</head>

<body>
	{{{ body }}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.6/iframeResizer.contentWindow.min.js" integrity="sha512-R7Piufj0/o6jG9ZKrAvS2dblFr2kkuG4XVQwStX+/4P+KwOLUXn2DXy0l1AJDxxqGhkM/FJllZHG2PKOAheYzg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>