<header>
    <h1 class="title">Private Craft Classes</h1>
    {{> navBar}}
    {{> dropdownNav}}
    <section id="media-scroller--big-holder">
        {{!-- populated by "media-scroller-functions.js" --}}
    </section>
</header>
<main>
    <section number-button-holder-top class="class-navigation-buttons-holder">
        <!-- populated by script -->
    </section>
    <section class="class-display">
        <!-- populated by script -->
    </section>
    <section number-button-holder-bottom class="class-navigation-buttons-holder">
        <!-- populated by script -->
    </section>
</main>
{{> modal}}
<div id="dropdown-nav-linking--start-search-button" class="d-none container d-flex justify-content-center">
    <button class="btn btn-primary">Search</button>
</div>
<br>
<br>
<div class="confirmation-popup-holder invisible">
    <div class="confirmation-popup">
        <div class="confirmation-title">Success!</div>
        <div class="confirmation-message">
            You should recieve a reply at <span class="confirmation-email">EMAIL</span> in the next few business days
        </div>
        <button class="confirmation-ok-btn">OK</button>
    </div>
</div>
{{> templates}}